* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-body: #b6cbce;
  --color-heading: #20232a;
  --color-base: #033f47;
  --color-base2: #022a30;
  --color-brand: #e0f780;
  --color-brand2: #deff58;
  --sidbar-width: 240px;
  --font-base: "Bai Jamjuree";
}

.container-fluid {
}

/* 
    ========================
    HEADER
    ========================
    */

header {
  background: var(--color-heading);
}

.navbar {
  margin: 0 auto;
  width: 93%;
  padding: 0;
}

.navbar-toggler {
  color: #61dafb;
}

.nav-link {
  color: white;
}

/* .navbar-toggler:focus {
      box-shadow: none;
    } */

@media (max-width: 576px) {
  .ul-bg {
  }

  a {
    margin: 0 0;
  }
}

nav .nav-item a:hover {
  color: #61dafb !important;
}

/* ==================000
   */

main {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../imgs/article-1.png");

  background-size: cover;
  background-position: center center;
  background-attachement: fixed;
}
.image-container {
  width: 100%;
}

section {
}

article {
  color: white;
}

.image-weather {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../imgs/utec-logo.png");

  background-size: cover;
  background-position: center center;
  background-attachement: fixed;
  height: 168px;
}

.image-heroes {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../../imgs/udemy.png");

  background-size: cover;
  background-position: center center;
  background-attachement: fixed;
}

.image-movies {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../../imgs/itca.png");

  background-size: cover;
  background-position: center center;
  background-attachement: fixed;
  height: 168px;
}

.text-container {
  width: 100%;
}

@media (max-width: 767px) {
  .image-container {
    height: 8rem;
  }
}
