* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-body: #b6cbce;
  --color-heading: #20232a;
  --color-base: #033f47;
  --color-base2: #022a30;
  --color-brand: #e0f780;
  --color-brand2: #deff58;
  --sidbar-width: 240px;
  --font-base: "Bai Jamjuree";
}

.container-fluid {
}

/* 
  ========================
  HEADER
  ========================
  */

header {
  background: var(--color-heading);
}

.navbar {
  margin: 0 auto;
  width: 93%;
  padding: 0;
}

.navbar-toggler {
  color: #61dafb;
}

.nav-link {
  color: white;
}

/* .navbar-toggler:focus {
    box-shadow: none;
  } */

@media (max-width: 576px) {
  .ul-bg {
  }

  a {
    margin: 0 0;
  }
}

nav .nav-item a:hover {
  color: #61dafb !important;
}

/* 
  ========================
  HERO SECTION
  ========================
  */

/* main {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../imgs/hero-bg.png");
    background-size: cover;
    background-position: center center;
    background-attachement: fixed;
    height: 95vh;
  }
  
  section {
    padding: 0;
  }
  
  .section-1 {
    color: white;
    font-size: 2rem;
  }
  
  .lorem-text {
    margin: 0 auto;
    width: 50vw;
    font-size: 1rem;
  } */

/* 
  ========================
  FOOTER
  ========================
  */
footer {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../../imgs/footer-bg.png");
  background-size: cover;
  background-position: center center;
  background-attachement: fixed;
}

.footer-title {
  height: 50px;
}

.footer-icons {
  /* background: yellow; */
}

.box-wraper {
}

.box {
  height: 5rem;
}

img {
  height: 100%;
}

@media (max-width: 576px) {
  .box {
  }
}

/* 
  ==========
  ============
  */

main {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../../imgs/background-about.png");
  height: 95vh;
}
.section-1 {
}

.section-2 {
}

.avatar-container {
  height: 95%;
}

.social-media-list {
  list-style: none;
  height: 100%;
}

.avatar-img {
  width: 180px;
  height: 180px;
  border: solid 8px black;
}

.avatar-img {
  border: 8px solid white;
}
.section-2-container {
}

.link-custom {
  color: white;
  text-decoration: none;
}

.social-media {
  color: white;
  text-decoration: none;
}

.social-media {
  color: white;
  text-decoration: none;
}

.social-media:hover {
  color: #e0f780;
}

.text-brand {
  color: #61dafb;
}

#work {
  background: #e0f780;
}

#work:hover {
  background: #e2c016;
}

@media (max-width: 767px) {
  .section-2-container {
    text-align: center;
  }
}
